* {
    box-sizing: border-box;
    font-family: sans-serif;
    color: #333;
    line-height: 125%;
}

.app {
    width: 90%;
    max-width: 800px;
    margin: auto;
    font-size: 16px;
}

.gradeInput {
    margin: 8px 0;
}

.gradeInput label {
    display: block;
    font-weight: 700;
}

.gradeInput input[type="text"] {
    width: 200px;
    font: 16px sans-serif;
    color: #333;
    padding: 2px;
}